<% unless comment.archived? %>
  <p>
    <strong>Commenter</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <strong>Comment</strong>
    <%= comment.body %>
  </p>
  <p>
  <%= article_comments_path(comment.article, comment) %>
  <%= link_to "Destroy Comment", article_comments_path(comment.article, comment), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
  </p>
<% end %>